@font-face {
  font-family: "Pretendard-Regular";
  src: url("https://cdn.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Regular.woff")
    format("woff");
  font-weight: 400;
  font-style: normal;
}

body {
  background-color: #66b4f9;
  font-family: "Pretendard-Regular";
  margin: 0px;
}
/* MainPage */

.MainPage {
  width: 80%;
  text-align: center;
  margin: 0 auto;
  margin-top: 100px;
}
.MainPage .main {
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.MainPage .main img {
  width: 200px;
  margin: 20px;
}
.MainPage .main .bookRegistration {
  background-color: rgb(243, 250, 255);
  width: 40%;
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 20px;
  border: 1px solid rgb(183, 183, 183);
  margin-left: 50px;
  margin-right: 20px;
  padding-bottom: 20px;
  font-size: 30px;
  cursor: pointer;
}
.MainPage .main .goHome {
  background-color: rgb(243, 250, 255);
  width: 40%;
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 20px;
  border: 1px solid rgb(183, 183, 183);
  margin-left: 20px;
  margin-right: 20px;
  padding-bottom: 20px;
  font-size: 30px;
  cursor: pointer;
}
.MainPage .main .logout {
  background-color: rgb(226, 43, 43);
  width: 20%;
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 20px;
  border: 1px solid rgb(183, 183, 183);
  margin-left: 20px;
  margin-right: 50px;
  padding-bottom: 20px;
  font-size: 30px;
  color: #ffffff;
  cursor: pointer;
}
.MainPage .tables {
  display: flex;
  flex-direction: column;
  margin: 20px;
  background-color: #ffffff;
  border-radius: 20px;
}

.MainPage .table {
  display: flex;
  align-items: center;
  border-bottom: 1px solid lightblue;
}
.MainPage .table {
  display: flex;
  align-items: center;
  border-bottom: 1px solid lightblue;
}
.MainPage .table2 {
  display: flex;
  align-items: center;
}
.MainPage .no {
  display: flex;
  flex-direction: column;
  width: 20%;
}
.MainPage .bookName {
  display: flex;
  flex-direction: column;
  width: 50%;
}
.MainPage .readDate {
  display: flex;
  flex-direction: column;
  width: 30%;
}
/* InputPhoneNumber */
.InputPhoneNumber {
  width: 70%;
  text-align: center;
  margin: 0 auto;
  margin-top: 100px;
}
.InputPhoneNumber .number {
  margin: 30px;
  padding-top: 40px;
  padding-bottom: 40px;
  background-color: #ffffff;
  width: 100%;
}

.InputPhoneNumber .col button {
  padding: 30px;
  margin: 10px;
  border: none;
  font-size: 18px;
  border-radius: 30px;
  cursor: pointer;
  box-shadow: 0px 2px 2px 1px #a3a3a3;
}
